<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Product x Product</title>
</head>
<header><a class="brand" href="./">Hisoka&apos;s market</a>
    <nav>
        <ul>
            <li class="page-section"><a href="./">Productos</a></li>
        </ul>
    </nav>
</header>
<div class="section-container">
  <div class="products-container grid">
    @each(product in products)
    <div class="product">
      <a href={{ './productos/' + product.id }} class="product-link"></a>
      <div class="product-content">
        <img src={{ product.foto }} alt={{ product.nombre }} class="product-img">
        <p class="product-price">$ {{ product.precio }}</p>
        <br>
        <p class="product-title">{{product.nombre}}</p>
      </div>
    </div>
    @endeach
  </div>
</div>

<div class="chat-container"><button id="chat-action-open">Chat online</button><button id="chat-action-close">X</button></div>
<div id="chat">
    <div class="msg chat-response">
        <p>Hola buen dia, mi nombre es Hisoka. &iquest;En que puedo ayudarte?</p>
    </div>
    <div class="msg chat-request">
        <p>Hola buen dia, tienen stock de la balanza china esa?</p>
    </div>
    <div class="msg chat-request">
        <p>Quiero una y retirarla hoy mismo</p>
    </div>
    <div class="msg chat-request">
        <p>Estuve llamando pero no me atendieron</p>
    </div>
    <div class="msg chat-response">
        <p>Si tenemos stock, podes pasar a retirarla de 9hs a 13hs o de 14hs a 19hs</p>
    </div>
    <div class="msg chat-response">
        <p>Si queres tambien te la podemos enviar en el dia bajo el envio flash flex de mercadolibre</p>
    </div>
    <div class="msg chat-response">
        <p>Son $650 para C.A.B.A.</p>
    </div>
    <div class="msg chat-response">
        <p>El servicio de envio funciona hasta las 20hs, pero los pedidos con envio flash flex cierran 5 hs antes</p>
    </div>
    <div class="msg chat-response">
        <p>Es decir si compras con envios flash flex a las 15:01hs se entregara al siguiente dia</p>
    </div>
    <div class="msg chat-request">
        <p>No, prefiero ir a buscarla vivo a 20 min</p>
    </div>
    <div class="msg chat-response">
        <p>Buenisimo, aguardamos tu compra, si queres reservarla para el dia de hoy dejame un nombre y lo dejo separado</p>
    </div>
    <div class="msg chat-request">
        <p>Genial, si reservame una me llamo Gon</p>
    </div>
    <div class="msg chat-response">
        <p>Muchas gracias Gon, te la dejamos reservada.</p>
    </div>
</div>
<form class="msg" id="chat-send"><input id="msg-action-input" placeholder="Ingrese mensaje" autofocus="autofocus" /><button id="msg-action-send"><svg id="svg" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt" viewbox="0 0 512.000000 512.000000" preserveaspectratio="xMidYMid meet">
            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                <path id="svg-path" d="M2500 4070 c-2014 -792 -2269 -894 -2297 -924 -56 -60 -56 -152 0        -211 18 -18 326 -216 686 -440 567 -354 660 -409 700 -413 44 -4 70 8 488 217        l443 221 -221 -443 c-209 -418 -221 -444 -217 -488 4 -40 59 -134 412 -700        236 -379 423 -668 444 -686 61 -56 148 -56 208 0 30 29 130 277 925 2302 811        2065 891 2273 886 2313 -9 77 -66 133 -144 138 -44 4 -235 -69 -2313 -886z"></path>
            </g>
        </svg></button></form>
<script src="/js/chatToggler.js"></script>
