doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Compra finalizada
p
  | Se ha realizado una compra con id: #{cartId}
  |
  |
p 
  | Lista de productos: 
  |
  each product in products
    div=`${product.title}`
    div=`Precio: $ ${product.price}`
    div=`Cantidad: ${product.quantity}`
  |
  |
  |
  |
  | Gracias por tu compra!!
