doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./styles/style.css')
  title Product x Product
header
  a.brand(href='./') Hisoka&apos;s market
  nav
    ul
      li.page-section
        a(href='./') Productos
      li.page-section
        a(href='./logout') Salir
.section-container
  .info-container
    h3 Información del servidor
    .info
      ul
        each element, index in info
          li
            h6.info-title #{element.title}
            p.info-description #{element.description}