doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./styles/style.css')
  title Product x Product
header
  a.brand(href='./') Hisoka&apos;s market
  nav
    ul
      li.page-section
        a(href='./') Productos
      li.page-section
        a(href='./login-register') Ingresar
.section-container
  .form-container
    form#form-sign-in(method='post'  action="/login")
      #signin-container
        h3 Ingresar
        input.input-form(type='text' placeholder='Correo electronico' name='username')
        input.input-form(type='text' placeholder='Contrase침a' name='password')
        button.button(type='submit') Ingresar
        p#signup-action.action-form Registrarse
    form#form-sign-up(method='post'  action="/register" enctype="multipart/form-data")
      #signup-container
        h3 Registrarse
        input.input-form(type='text' placeholder='Correo electronico' name='username')
        input.input-form(type='text' placeholder='Nombre' name='fullName')
        input.input-form(type='text' placeholder='Direcci칩n' name='address')
        input.input-form(type='text' placeholder='Edad' name='age')
        input.input-form(type='text' placeholder='Telefono' name='phone')
        input.input-form(type='text' placeholder='Contrase침a' name='password')
        input.input-form(type='text' placeholder='Repetir contrase침a' name='passwordConfirmation')
        input.input-form(type='file' placeholder='avatar' name='avatar')
        button.button(type='submit') Registrarse
        p#signin-action.action-form Ingresar
script(src='./js/signToggler.js')
