doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./styles/style.css')
  title Product x Product
header
  a.brand(href='./') Hisoka&apos;s market
  nav
    ul
      li.page-section
        a(href='./') Productos
      li.page-section
        a(href='/profile') Mi perfil
      li.page-section
        a(href='/cart') Carrito
      li.page-section
        a(href='./logout') Salir
.section-container
  .products-container.grid
    each element, index in allProducts
      .product
        a.product-link(href=`./productos/${element._id}`)
        .product-content
          img.product-img(src=`${element.foto}`  alt='Balanza de cocina digital Electronic SF-400 pesa hasta 10kg blanca')
          p.product-price $ #{element.precio}
          p.product-title
            | #{element.nombre}
.chat-container
  button#chat-action-open Chat online
  button#chat-action-close X
#chat
  .msg.chat-response
    p Hola buen dia, mi nombre es Hisoka. &iquest;En que puedo ayudarte?
  .msg.chat-request
    p Hola buen dia, tienen stock de la balanza china esa?
  .msg.chat-request
    p Quiero una y retirarla hoy mismo
  .msg.chat-request
    p Estuve llamando pero no me atendieron
  .msg.chat-response
    p Si tenemos stock, podes pasar a retirarla de 9hs a 13hs o de 14hs a 19hs
  .msg.chat-response
    p
      | Si queres tambien te la podemos enviar en el dia bajo el envio flash flex de mercadolibre
  .msg.chat-response
    p Son $650 para C.A.B.A.
  .msg.chat-response
    p
      | El servicio de envio funciona hasta las 20hs, pero los pedidos con envio flash flex cierran 5 hs antes
  .msg.chat-response
    p
      | Es decir si compras con envios flash flex a las 15:01hs se entregara al siguiente dia
  .msg.chat-request
    p No, prefiero ir a buscarla vivo a 20 min
  .msg.chat-response
    p
      | Buenisimo, aguardamos tu compra, si queres reservarla para el dia de hoy dejame un nombre y lo dejo separado
  .msg.chat-request
    p Genial, si reservame una me llamo Gon
  .msg.chat-response
    p Muchas gracias Gon, te la dejamos reservada.
form#chat-send.msg
  input(id='msg-action-input' placeholder='Ingrese mensaje' autofocus)
  button#msg-action-send
    svg#svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewbox='0 0 512.000000 512.000000' preserveaspectratio='xMidYMid meet')
      g(transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none')
        path#svg-path(d='M2500 4070 c-2014 -792 -2269 -894 -2297 -924 -56 -60 -56 -152 0\
        -211 18 -18 326 -216 686 -440 567 -354 660 -409 700 -413 44 -4 70 8 488 217\
        l443 221 -221 -443 c-209 -418 -221 -444 -217 -488 4 -40 59 -134 412 -700\
        236 -379 423 -668 444 -686 61 -56 148 -56 208 0 30 29 130 277 925 2302 811\
        2065 891 2273 886 2313 -9 77 -66 133 -144 138 -44 4 -235 -69 -2313 -886z')
script(src='./js/chatToggler.js')
