*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}    

body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
}

main, #formCardContainer, .formPost{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outterBorderformCardContainer{
    margin-top: 1rem;
    padding: 0.4rem;
    border-radius: 0.8rem;
    background-color: hsl(180deg 42% 94% / 20%);
}
.formCardContainer{
    background-color: hsl(0deg 0% 100% / 26%);
    border-radius: 0.8rem;    
    width: 18rem;
}

.formTitle{
    color: #4d5f7a;
    font-size: 1.2rem;
    text-align: center;
}

.formButton{
    background-color: hsl(10deg 8% 99% / 70%);
    border-radius: 0.5rem;
    border: none;    
    color: hsl(174deg 100% 31%);
    margin: 0.2rem;
    padding: 0.3rem;
}

.productsContainer{    
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    align-items: stretch;
}

.productContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    width: 15rem;
}

.imgProduct{    
    background: white;
    border-radius: 0.5rem;
    height: 10rem;
    object-fit: scale-down;
    width: 15rem;
}

.infoProduct{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleProduct, .priceProduct{
    text-align: center;
}

.linkContainer{
    margin: 1rem;
}

.link{
    color: aliceblue;
    text-decoration: none;
}

#productsAvailablesHome{
    border: 1px solid black;
}

.titleH3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

#productListContainerHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productContainerHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}