@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
  align-items: center;  
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;    
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-size: 200% 300rem;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  width: 100%;
}
nav{
  width: 30rem;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.page-section{
  font-size: 1.4rem;
  color:aliceblue;
}

.page-section:hover{
  cursor: pointer;
}
.page-section a, .brand{
  text-decoration: none;
  color: inherit;
}
.brand{
  font-weight: 900;
  color:aliceblue;
  border: 0.2rem solid aliceblue;
  font-size: 2.2rem;
  padding: 0.4rem;
}
.page-section a:visited{
  text-decoration: none;
  color: inherit;
}
.section-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.form-container{
  backdrop-filter: contrast(0.9);
  margin-top: 8rem;
  width: 40rem;
  background-color:rgba(255, 255, 255, 0.436);
  border-radius: 1.5rem; 
  border: 1px solid #553772;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
}
#form-sign-in h3,#form-sign-up h3{
  font-size: 2.5rem;
  margin: 1rem auto;
  color: aliceblue;
}
#signin-container, #signup-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signup-container{
  display: none;
}
.input-form{
  border-radius: 0.2rem;
  line-height: 1.5rem;
  margin: 0.2rem auto;
  font-size: 1.2rem;
  border: 0.1rem solid #553772;
  width: 60%;
  color: #1f306e;
}
.button{
  background-color: #1f306e;
  border-color: #553772;
  border-radius: 0.4rem;
  border-style: solid;
  border-width: 0.1rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.4rem;
}
.action-form{
  color: #1f306e;
  margin: 0.4rem;
  cursor: pointer;
}


/* ---- Products page ---- */
.grid {
  
  grid-auto-flow: row;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}

.product{
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 14rem;
  background-color: aliceblue;
  border-radius: 0.8rem;
  position: relative;
}
.product-link{
  position: absolute;
  height: 20rem;
  width: 14rem;
}

.product-img{
  height: 14rem;
  width: 14rem;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.product-content{
  overflow: hidden;
}
.product-price{
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  color: #D16BA5;
}
.product-title{
  white-space: normal;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

#chat-action-open{
  display: block;
  z-index: 10;
  position: fixed;
  bottom: 6rem;
  right: 4rem;
  background: #845EC2;
  color: aliceblue;
  border: 0.2rem solid aliceblue;
  padding: 0.5rem;
  border-radius: 1.2rem;
}
/* #chat-action-close{
  opacity: 0;
  position: fixed;
  bottom: 47.5rem;
  right: 1.5rem;
  z-index: 10;
  padding: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  background: #845EC2;
  border: 0.2rem solid aliceblue;
  color: white;
  /* display: none;   } */

/* #chat{  
  opacity: 0;
  transition: all ease 0.5s;
  backdrop-filter: contrast(0.5);
  position: fixed;
  min-height: 48rem;
  max-height: 48rem;
  bottom: 2rem;
  width: 20rem;
  right: 0;
  overflow-y: scroll;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  /* display: none;    
} */
.msg{
  max-width: 12rem;
  border-radius: 1rem;
  background-color: aliceblue;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.15rem solid #845EC2;
}

.chat-request{
  align-self: flex-end;
}
#svg{
  height: 0.5rem;
  width: 0.5rem;
}
#svg-path{
  fill: #004d7a;
}
#chat-window{
  width: 20rem;
}
#chat-send{    
  position: absolute;
  width: 20rem;
  max-width: 100%;
  right: 0;
  bottom: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
}
#chat-send input{
  line-height: 1.4rem;
  width: 90%;
}
#msg-action-send{
  background-color: none;
}
#chat-send svg{
  display: flex;
  align-items: center;
  justify-items: center;
  width: 1rem;
  height: 1rem;
  margin: 0.2rem;
  background: none;
}
/***********  Detailed product page  ***********/
.product-detail-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  width: 90rem;
  justify-content: center;
  padding: 3rem;
  align-items: center;
  padding: 3rem;
}
.product-detail-img{
  border-radius: 1rem;
  max-width: 40rem;
  max-height: 40rem;
  object-fit: contain;
}
.product-detail-content{
  background: rgb(255,255,255,0.2);
  padding: 1rem;
  border-radius: 0.5rem;
}
.product-detail-price{
  color: #ffeb3b;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.product-detail-title{
  color: #ffc107;
  font-size: 1.8rem;
  padding: 0.4rem 0;
}
.product-detail-description{
  color: rgb(255,255,255,0.9);
  font-size: 1.3rem;
  font-weight: 500;
}
.buy-container{  
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
#product-id,#product-stock{
  display: none;
}
#subtract-button,#add-button{  
  border: 0.2rem solid aliceblue;
  align-items: center;
  background: rgb(132, 94, 194) none repeat scroll 0% 0%;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
#subtract-button{
  grid-column: 1/2;
}
#quantity{
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: transparent;
  border: none;
  grid-column: 2/3;
  text-align: center;
}
#add-button{
  grid-column: 3/4;
}
#buy-button{
  grid-column: 1/4;
  height: 2rem;
  color: rgb(132, 94, 194);
  font-size: 1rem;
  font-weight: 700;
  justify-self: normal;
}
/***********  Profile page  ***********/
.profile-info-container{    
  width: 100%;
  max-width: 80rem;
  
}
.profile-info-img{  
  width: 20rem;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.profile-info{  
  color: aliceblue;
  padding: 0.2rem;
  width: 100%;
}

/***********  Cart page  ***********/
.cart-order-item{  
  border-radius: 1rem;
  background: aliceblue;
  display: flex;
  margin: 1rem;
}
.cart-order-item-img{
  height: 14rem;
  width: 14rem;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.cart-order-item-info{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 26rem;
}
.cart-order-item-info-title{
  color: black;
  overflow: hidden;
  display: -webkit-box; /* needed to set number of lines to show */
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1; 
  -webkit-box-orient: vertical;
}
.cart-order-item-info-price{
  color: black;
}
.cart-order-item-info-quantity{
  color: black;
}
.cart-order-item-info-subtotal{
  color: black;
}
.cart-order-item-delete{
  color: black;  
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1rem;
}
.cart-order-item-delete button{
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  border: medium none;
  margin: 1rem;
}
.cart-order-item-delete img{
  width: 1rem;
}
.cart-buy-checkout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-buy-checkout button{
  height: 2rem;
  color: rgb(132, 94, 194);
  font-size: 1rem;
  font-weight: 700;
  justify-self: normal;
  width: 50%;
}
.cart-buy-checkout p{
  color: aliceblue;
}